<ifmodule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^news$ /index.php?module=news [L]
    RewriteRule ^userreg$ /index.php?module=userreg [L]
    RewriteRule ^index$ /index.php?module=index [L]
    RewriteRule ^login$ /index.php?module=login [L]
    RewriteRule ^logout$ /index.php?module=logout [L]
</ifmodule>